.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


.cabinet-room {
	.course-name {
		text-transform: uppercase;
	    font-size: 22px;
	}

	.progress {
		height: 3px;
	}
	.progresslabel {
    	color: black;
	}
	.course-content-wrapper {
		margin-top: 10px;
	}
	.lesson-wrapper {
		background: white;
		padding: 15px;
		border-radius: 2px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
		.tab-pane {
			display:none;
			width: 100%;
			.vnutri-tab-pane {
				color:red;
			}
			&.active {
				display: inline-block;
			}
		}

		.lesson-content-markdown-wrapper {
			margin-top:20px;
		}
		video {
			max-width: 100%;
			width: 100%;
		}
		h1 {
			margin-bottom: 20px;
		}


		.payout-form-wrapper {
			position: relative;
			overflow: hidden;
			.form-content {
				position: absolute;
				top:0px;
				left:0px;
				width:100%;
				height:100%;
				display: flex;
				justify-content:center;
				align-items:center;
				flex-direction:column;
				padding:15px;
				color: #eeff00;
			    background: rgba(0, 0, 0, 0.4);
				h3 {
					font-size: 30px;
				    text-align: center;
				}
				label {
				    color: white;
				    text-align: center;
				    font-size: 19px;
				}
				.price {
					color: #eeff00;
				}
				.pay-submit {
					padding: 15px;
					background: #fc6c18;
					color: white;
					cursor: pointer;
					font-weight: bolder;
					border: 0px;
					margin-top: 10px;
					text-transform: uppercase;
					font-size: 16px;
					border-radius: 5px;
					box-shadow: 0px 3px 0px 0px #c64d06;
				}

			}
		}
 	}
	.lesson-nav-wrapper {

		.fa {
			min-width: 22px;
		}
		.chapter-toggler {
		    display: inline-block;
		    width: 100%;
		    padding: 7px 15px;
		    background: #e5f2ff;
		    border: 2px solid #c6e2ff;
		    border-radius: 5px;
		    color: #000;
		    transition: 0.2s ease all;
		    &.collapsed {
			    margin-bottom: 5px;
		    }
		    &:hover {
		    	text-decoration: none;
		    	color:inherit;
		    	background: #cfffef;
	    	    border: 2px solid #9cffde;
		    }
		}
		
		.nav-chapter-list-wrapper {
			margin-left:20px;
			.nav-chapter-list {
				.nav-link {
					display: inline-block;
				    width: 100%;
				    padding: 7px 15px;
					margin: 3px 0px;
			        background: #f8fafc;
				    color: #444;
				    transition: 0.2s ease all;
				    border: 2px solid transparent;
				    border-radius: 5px;
				    &.active {
			    	    background: #f1f1f1;
					    background: #f1f1f1;
					    border: 2px solid #e1e1e1;
				    }
				    &:hover {
				    	text-decoration: none;
				    	color:black;
				    }
				}
			}
		}
	}
}


