// Fonts
@import url('https://fonts.googleapis.com/css?family=Exo+2:400,600,700&subset=cyrillic');
// Variables
* {
	font-family: 'Exo 2', sans-serif;
	padding:0px;
	margin:0px;
	box-sizing:border-box;
}

body {
	//min-height:5000px;
}

@import './_normalize';
@import './components/nav';
@import './components/paymodal';

a {
	color: #e6346e;
	text-decoration: none;
}


.pinky {
	color:#e6346e;
}

.matrix-section {

}

.lp-h1 {
	font-size: 32px;
	color:black;
	text-align: center;
	margin: 70px;
	font-weight: normal;
	span {
		color:#e6346e;
	}
	@media (max-width: 769px) {
		margin: 30px 0px;
		padding: 0px 10px;
		font-size:28px;
	}
}

.lp-section {
	width: 100%;
	display: flex;
	position: relative;
	justify-content:center;
	&.padded {
		padding: 0px 10px;
		padding-bottom: 70px;
		@media (max-width: 769px) {
			padding-bottom: 40px;
		}
	}
	&.grey {
		background-color:#f7f6f6;
	}
	&.white {
		background-color:white;
	}
	&.blue {
		background-color:#90c4e9;
	}
	&.dark-grey {
		background-color:#3f3f3f;
	}
}
.lp-content {
	max-width: 1320px;
	width: 100%;
	min-height: 50px;
}
/* MATRIX */
canvas {
    background: #323b71;
    width: 100%;
}





.lp-cta-button {
	background: linear-gradient(135deg, #6d81eb 0%, #244798 100%);
	border: 0px;
	padding: 15px;
	width: 100%;
	font-size: 30px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
    margin: 30px 0px;
	cursor: pointer;
	box-shadow: 0px 2px 9px #00000026;
	text-transform: uppercase;
	max-width: 580px;
	@keyframes float {
		0% {
			//transform: translatey(0px);
			transform: scale(1);
		}
		50% {
			transform: scale(1.2);
			//transform: translatey(-3px);
		}
		100% {
			transform: scale(1);
			//transform: translatey(0px);
		}
	}
	i {
		margin-right: 20px;
	}
	img, i {
		animation: float 3s ease-in-out infinite;
	}
	img {
	    margin-right: 15px;
	}
}

.lp-utp-action-wrapper {
	position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
	justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);

    h1 {
	    color: white;
    	font-size: 40px;
	    text-shadow: 0px 0px 5px white;
	    text-align: center;
    	margin: 30px 0px;
    }
	img {
		max-width: 200px;
	}


	@media (max-width: 768px) {
	    h1 {
		    font-size: 40px;
			margin: 10px 0px;
	    }
		.js-icon {
			width: 86px;
		}
	}
	@media (max-width: 600px) {
		.lp-cta-button {
		    padding: 15px;
		    font-size: 19px;
			height: 60px;
			max-width: 580px;
			img {
			    margin-right: 15px;
			    width:20px;
			    height:auto;
			}
		}
	}
	@media (max-width: 425px) {
	    h1 {
	        font-size: 26px;
	    }

	}
}

/* ADVANTAGES */

.brain-wrapper {
	display: flex;
	@media (max-width: 769px) {
		flex-direction:column;
	}
	.brain-img-container {
		display: flex;
		align-items: center;
		justify-content: center;
		@media (max-width: 1201px) {
		    img {
    			max-width: 220px;
		    }
		}
		@media (max-width: 1001px) {
			display: none;
		}
	}
	.brain-items-wrapper {
		display: flex;
		flex-direction:column;
		@media (max-width: 769px) {
			margin-bottom: 50px;
		}

		@media (max-width: 425px) {
			margin-bottom: 30px;
		}

		.brain-item:last-child {
    		margin-bottom: 0px;
		}
		&.left {
			.brain-item {
				flex-direction:row-reverse;
				@media (max-width: 1001px) {
					margin-right: 10px;
				}

				@media (max-width: 769px) {
					flex-direction:row;
					margin-right: 0px;
					margin-left: 10px;
				}

				@media (max-width: 425px) {
					margin-left: 0px;
				}


			}
			.brain-content {
				text-align: right;
				margin-right: 28px;
				@media (max-width: 1201px) {
					margin-right: 15px;
				}
				@media (max-width: 769px) {
					text-align: left;
					margin-right: 0px;
					margin-left: 15px;
				}

			}
			.brain-item:nth-child(2) {
    			margin-right: 60px;
				@media (max-width: 1201px) {
					margin-right: 30px;
				}
				@media (max-width: 1001px) {
					margin-right: 10px;
				}
				@media (max-width: 768px) {
					margin-right: 0px;
				}
				@media (max-width: 425px) {
					margin-left: 0px;
				}
			}



			.brain-item:nth-child(1) .brain-item-icon {
				border-color: #e53f9b;
				i {
					color:#e53f9b;
				}
			}
			.brain-item:nth-child(2) .brain-item-icon {
				border-color: #cd43d1;
				i {
					color:#cd43d1;
				}
			}
			.brain-item:nth-child(3) .brain-item-icon {
				border-color: #73c1f1 ;
				i {
					color:#73c1f1;
				}
			}

		}
		&.right {
			.brain-item {
				flex-direction:row;
				@media (max-width: 1001px) {
					margin-left: 10px;
				}
				@media (max-width: 425px) {
					margin-left: 0px;
				}
			}
			.brain-content {
				text-align: left;
				margin-left: 28px;
				@media (max-width: 1201px) {
					margin-left: 15px;
				}
			}
			.brain-item:nth-child(2) {
    			margin-left: 60px;
				@media (max-width: 1201px) {
					margin-left: 30px;
				}
				@media (max-width: 1001px) {
					margin-left: 10px;
				}
				@media (max-width: 425px) {
					margin-left: 0px;
				}
			}

			.brain-item:nth-child(1) .brain-item-icon {
				border-color: #668deb;
				i {
					color:#668deb;
				}
			}
			.brain-item:nth-child(2) .brain-item-icon {
				border-color: #9580e5;
				i {
					color:#9580e5;
				}
			}
			.brain-item:nth-child(3) .brain-item-icon {
				border-color: #dd6b8e;
				i {
					color:#dd6b8e;
				}
			}


		}
		.brain-item {
			display: flex;
			margin-bottom: 84px;
			height: 112px;
			align-items: center;
			@media (max-width: 769px) {
				align-items: flex-start;
			}
			@media (max-width: 1201px) {
				margin-bottom: 54px;
			    height: 96px;
			}
			@media (max-width: 1001px) {
				height: 80px;
			}
			@media (max-width: 768px) {
				height: auto;
			}
			@media (max-width: 425px) {
				margin-bottom: 34px;
			}
			.brain-item-icon {
				display: flex;
				min-width:88px;
				min-height:88px;
			    border: 2px solid #e53f9b;
			    border-radius: 50%;
			    align-items: center;
			    justify-content: center;
			    font-size: 33px;
				i {
					color:#e53f9b;
				}
				@media (max-width: 1201px) {
					min-width: 70px;
					min-height: 70px;
					font-size: 28px;
				}
				@media (max-width: 425px) {
				    min-width: 60px;
				    min-height: 60px;
				    font-size: 22px;
				}
			}
			.brain-content {
			    color: black;
			    font-size: 14px;
			    font-weight: 400;
			    display: flex;
			    flex-direction: column;
			    justify-content: center;

				.brain-item-header {
					font-size: 18px;
					text-transform: uppercase;
				    margin-bottom: 8px;
					line-height: 1;
					font-weight: bold;
				}
			}
		}
	}
}



/*  PROGRAM  */
.program-section {
	background-image: url(/img/jslp/planets-bg.jpg), url(/img/jslp/rocket-bg.jpg);
	background-position: top right, left bottom;
	background-repeat: no-repeat, no-repeat;
	@media (max-width: 1024px) {
		background-size: 100%, 57%;
	}
}

.program-wrapper {
	width:100%;
	display: flex;
	align-items: center;
	flex-direction:column;

	.startend-badge {
		color: #fc0665;
		font-size:18px;
		text-transform: uppercase;
    	margin: 15px 0px;
    	@media (max-width: 746px) {
    		display: none;
    	}
	}

	.program-items-wrapper {
		display: flex;
		flex-direction:column;
		width:100%;
		padding: 0px 10px;
		@media (max-width: 746px) {
            max-width: 430px;
		}
		.program-item {
			height: 200px;
			display: flex;
			width:100%;
			position: relative;
		    justify-content: center;
		    align-items: center;


			.vacancy-badge {
			    border: 1px solid #ff4c1e;
			    color: #ff4c1e;
			    padding: 7px 11px;
			    
			    flex-direction: column;
			    text-decoration: none;
			    border-radius: 4px;
			    margin-top: 11px;
			    cursor: pointer;
			    background: white;
			    box-shadow: 0 0 0 0 rgb(255, 76, 30);
			    transition: all 0.1s ease;
				transform: scale(1) translateY(0px);

				@keyframes pulse {to {box-shadow: 0 0 0 5px rgba(255, 76, 30, 0);}}
				animation: pulse 2s infinite cubic-bezier(.66, 0, 0, 1);



			    &:hover {
					animation: none;

			    	transform: scale(1.1) translateY(-5px);
			    	box-shadow: 0px 2px 10px rgba(255, 76, 30, 0.5);
			    }

				.vacancy-title {
					font-size:13px;
					white-space: nowrap;
					display: flex;
					.vacancy-zarabotok {
					    margin-right: 4px;
					}
				}
				.vacancy-description {
					font-size:10px;
				}
				&.desktop {
					display: flex;
				}
				&.mobile {
					display: none;
				}
				@media (max-width: 425px) {
					&.mobile {
						display: flex !important;
						margin-left: 0px;
						margin-top: 24px;
					}
					&.desktop {
						display: none;
					}
				}
			}

			.item-section {
				width:50%;
				height:100%;
				flex:1;
				display: flex;
				align-items:center;

				&.logo {
					.program-item-title-wrapper {
						display: flex;
						flex-direction:column;
						h4.program-title {
							font-weight: bold;
							font-size: 24px;
						    line-height: 1;
							@media (max-width: 1024px) {
								font-size:28px;
							}
						}
						.program-title-description {
							font-weight: bold;
							font-size:22px;
							color:#7d7d7d;
						    line-height: 1;
							@media (max-width: 1024px) {
								font-size:18px;
							}

						}


					}

					img {
						@media (max-width: 1024px) {
							width: 90px;
						}
					}

				}
				&.desc .item-section-desc-text {
					font-size:18px;
					max-width: 470px;
					@media (max-width: 1024px) {
						font-size:16px;
					}

				}

			}

			.dot {
				position: absolute;
				content: "";
    			width: 22px;
    			height: 22px;
				border-radius: 50%;
    			border: 4px solid white;
				display: flex;
				justify-content: center;
				align-items: center;
				background: #e6346e;
				&:after {
					position: absolute;
					background: white;
    				width: 10px;
    				height: 10px;
					border-radius: 50%;
					content: "";
				}

			}

			&:nth-child(even) {
				flex-direction: row-reverse;
				.item-section {
					.program-item-title-wrapper {
						text-align: left;
					}


					&:first-child {
						padding-left: 44px;
						justify-content:flex-start;
						position: relative;
						@media (max-width: 1024px) {
							padding-left: 30px;
						}

					}
					&:last-child {
						padding-right: 44px;
						border-right: 1px solid #a9a9a9;
						justify-content:flex-end;
						@media (max-width: 1024px) {
							padding-right: 30px;
						}
					}

					&.logo {
						flex-direction: row-reverse;
						justify-content:flex-end;
						img {
							margin-right: 37px;
						}
					}
					&.desc .item-section-desc-text {
						text-align: right;
					}
				}

			}
			&:nth-child(odd) {

				.item-section {
					.program-item-title-wrapper {
						text-align: right;
					}
					&:first-child {
						padding-right: 44px;
						border-right: 1px solid #a9a9a9;
						justify-content:flex-end;
						@media (max-width: 1024px) {
							padding-right: 30px;
						}
					}
					&:last-child {
						padding-left: 44px;
						@media (max-width: 1024px) {
							padding-left: 30px;
						}
					}
					&.logo {
						img {
							margin-left: 37px;
						}
					}
				}

			}
			@media (max-width: 746px) {
				flex-direction: column !important;
				align-items: flex-start;
			    border-left: 1px solid #ff4c1e;
			    height:auto;
		        padding: 20px 0px;

				.startend-badge {
					display: none;
				}
				.dot {
					margin-left: -11px;
				    top: 55px;
				}
				.item-section {
					width:100% !important;
					border:none !important;
					&.logo {
						padding-left:0px !important;
						padding-right:0px !important;
						flex-direction: row-reverse;
						.program-item-title-wrapper {
							text-align: left;
						}
						img {
							margin-left: 37px;
							margin-right: 37px;
						}
					}
					&.desc {
						justify-content:flex-start !important;
					    padding-left: 30px !important;
					    margin-top:30px;
						.item-section-desc-text {
							text-align: left !important;
							padding-right:10px;
							//max-width: 1000px;
						}
					}
				}
			}
			@media (max-width: 425px) {
				background-size: 100%, 57%;
				.dot {
				    top: 40px;
				}
				.item-section {
					.rounded-item-logo {
						width: 60px !important;
						margin-left: 20px !important;
						margin-right: 20px !important;
					}
					.program-title {
					    font-size: 22px !important;
					}
					.program-title-description {
						font-size: 14px !important;
					}
					&.desc {
						flex-direction: column;
						margin-top: 20px;
						padding-left: 20px !important;
						padding-right: 0px !important;
						align-items: flex-start;
					}
				}
				.vacancy-badge {
					display: none !important;
				}
			}



		}





	}
}

@mixin colorize-costs-item($color) {
	border: 2px solid $color;
	.cta-btn {
		background: $color;
	}
	.round-corner-badge {
		background: $color;
	}

}

/*  COSTS  */
.costs-section {
	background-image: url(/img/jslp/running-man.jpg), url(/img/jslp/beach-gamak.jpg);
	background-position: top right, bottom left;
	background-repeat: no-repeat, no-repeat;
    background-size: auto 48%, auto 50%;
    .lp-content {
    	display: flex;
    	justify-content:flex-start;
    	align-items:center;
    	flex-direction:column;
    }
    .costs-wrapper {
    	display: flex;
    	justify-content:space-between;
    	width:100%;
    	max-width: 1060px;
    	padding:0px 10px;
	    align-items: flex-start;
    	.costs-item-wrapper {
	       	min-height:200px;
	    	background: white;
	    	width:30%;
	    	border: 2px solid #4aaae5;
    	    border-radius: 4px;
    	    position:relative;
    	    transition: 0.3s all ease;
	    	//transform: scale(1);
    	    &:hover {
    	    	transform: scale(1.05);
    	    }

    	    .round-corner-badge {
    	    	position: absolute;
				top: -30px;
				left: -30px;
    	    	background: #4aaae5;
    	    	height:60px;
    	    	width:60px;
    	    	color:white;
    	    	font-size:16px;
    	    	border-radius: 50%;
    	    	display: flex;
    	    	justify-content: center;
    	    	align-items: center;
    	    }


    	    .cost-item-title-wrapper {
    	    	padding: 40px 0px;
    	    	display: flex;
    	    	justify-content: center;
    	    	align-items: center;
    	    	flex-direction: column;
    	    	position: relative;
    	    	.cost-title {
    	    		font-size:30px;
    	    	}
    	    	.cost-title-badge {
    	    		color:#e6346e;
    	    		font-size: 14px;
	    	    	position: absolute;
					bottom: 21px;
    	    	}
    	    }
    	    ul {
    	    	display: flex;
    	    	padding:0px 26px;
    	    	list-style: none;
    	    	flex-direction: column;
				margin-bottom: 34px;
    	    	li {
					&:before {
					  content: "-";
					  padding-right: 5px;
					}
    	    		padding: 8px 0px;
    	    		line-height: 1;
    	    		font-size: 15px;
    	    	}
    	    }
    	    .cost-price-wrapper {
    	    	display: flex;
	    		font-size:28px;
	    		font-weight: bolder;
	    		justify-content:center;
    		    background: #f1f1f1;
	    		i {
	    			font-size:24px;
	    		}
	    		span, strike {
	    			padding:10px;
	    		}
    	    	.old-price {
    	    		color:#ff6666;
    	    	}
				.new-price {
					color:black;
				}
    	    }
    	    .cta-btn {
    	    	background: #4aaae5;
    			font-size: 18px;
    	    	color:white;
    	    	padding:18px 0px;
    	    	border:0px;
				margin-left: -1px;
    			width: calc(100% + 2px);
    	    	cursor: pointer;
				display: flex;
				justify-content: center;
    	    }
    	    &:nth-child(2) {
		    	@include colorize-costs-item(#e67334)
    	    }
    	    &:nth-child(3) {
		    	@include colorize-costs-item(#ff0060)
    	    }
    	}
    }

	@media (max-width: 1270px) {
    	background-size: auto 34%, auto 35%;
	}
	@media (max-width: 922px) {
	    .costs-wrapper {
	    	.costs-item-wrapper {
	    		width:32%;
	    	}
	    }
	}
	@media (max-width: 870px) {
		background: white;
	    .costs-wrapper {
	    	flex-direction:column;
	    	.costs-item-wrapper {
	    		width:100%;
	    		margin-bottom:20px;
	    		.round-corner-badge {
					top: 0px;
					left: 0px;
					width: 100%;
					color: #ffffff;
					height: 24px;
					border-radius: 0px;
	    		}
	    		li {
	    			text-align: center;
	    		}
	    	}
	    }
	}
}



/* RESUME */


@mixin rippledpaper() {
	$bg-color: #eee;
	$main-color: #fff;
	$text-color: #333;
	height: auto;
	overflow: hidden;
	padding: 20px;
	background: $main-color;
	box-shadow: 0 3px 5px rgba(0,0,0,0.05);
	
	&:before, &:after {
	  content: ""; height: 2px;
	  position: absolute;
	  left: 0;
	  right: 0;
	  -webkit-clip-path: polygon(0% 0%, 5%  100%, 10% 0%, 15%  100%, 20% 0%, 25% 100%, 30% 0%, 35%  100%, 40% 0%, 45%  100%, 50% 0%, 55%  100%, 60% 0%, 65%  100%, 70% 0%, 75%  100%, 80% 0%, 85%  100%, 90% 0%, 95%  100%, 100% 0%);
	}
	&:before {
	  background-color: $bg-color;
	  top: 0;
	}
	&:after {
	  background-color: $main-color;
	  bottom: -2px;
	}
}


.rippled {
	background: white;
	margin-top:40px;
	//@include rippledpaper()
}

.resume-section {
    .lp-content {
    	display: flex;
    	justify-content:flex-start;
    	align-items:center;
    	flex-direction:column;
/*     	h1 {
    		color: white;
		    background: #2e302c;
		    padding: 10px;
    	} */
    }
	.person-resume-wrapper {
		position: relative;
		width: 970px;
		margin: 0px auto;
		
		.person-resume-box {
			
			padding: 40px 50px;
			display: flex;
			flex-direction: column;
			

			.resume-header {
				font-size: 25px;
				text-align: center;
				font-weight: lighter;
				margin-bottom: 40px;
			}

			.resume-content {
				display: flex;


				.person-image {
					align-items: center;
				}

				.person-description {
					margin-left:80px;
					.person-name {
						font-size:32px;
					}
					.person-badge {
						font-size:18px;
						color:#a4a4a4;
					}
					.person-text {
						margin-top: 18px;
						font-size:18px;
					}
				}
			}
		}
	}
	@media (max-width: 1024px) {
	    .person-resume-wrapper {
	    	width:100%;
	    	max-width: 860px;
	    	.person-resume-box {
    		    padding: 30px;
    		    .person-description {
    		    	margin-left:40px;
    		    }
	    	}
	    }
	}
	@media (max-width: 720px) {
	    .person-resume-wrapper {
	    	width:100%;
	    	max-width: 860px;
	    	.person-resume-box {
    		    padding: 30px;
    		    .resume-content {

	    		    flex-direction: column;
	    		    .person-description {
	    		    	margin-left:0px;
	    		    }
	    		    .person-image {
	    		    	display: flex;
	    		    	justify-content:center;
	    		    	img {
			    		    width: 210px;
	    		    	}
	    		    }
	    		    .person-name, .person-badge {
	    		    	text-align: center;
	    		    }
					.person-text {
					    margin-top: 30px;
					    font-size: 16px;
					}
    		    }
	    	}
	    }
	}
	@media (max-width: 425px) {
	    .person-resume-wrapper {
	    	.person-resume-box {
    		    padding: 15px;
    		    .person-image {
	    		    img {
			    	    width: 190px;
	    		    }
    		    }

	    	}
	    }
	}
}

#teacher {
	.person-text {
		font-size:16px;
	}
}


/*  FAQ  */

.faq-section {
    .lp-content {
    	display: flex;
    	justify-content:flex-start;
    	align-items:center;
    	flex-direction:column;
    }
	.faq-wrapper {
		width:100%;
		max-width: 1000px;

		.faq-item {
			display: flex;
			flex-direction:column;
			margin-bottom: 30px;
			border-radius: 7px;
			overflow: hidden;
			background: linear-gradient(135deg, #feffff 0%, #e2e2e2 100%);
			border: 1px solid #e8e8e8;
			.question {

			    //background: #e2e2e2;
			    padding: 22px;
			    font-size: 18px;
				display: flex;
				align-items:center;
				cursor: pointer;
    			justify-content: space-between;
    			transition: 0.5s all ease;
    			img {
    				transition: 0.5s all ease;
    				transform: rotate(0deg);
				    width: 20px;
				    margin-left:10px;
    			}
				@media (max-width: 768px) {
				    padding: 16px;
				    .q-text {
				    	font-size: 16px;
				    }
				}
			}

			.answer {
				opacity: 0;
				overflow: hidden;
				height:0px;
				transition: 0.5s all ease;
				//margin: 0px 40px;
				display: inline-block;
				
				//border-radius: 0px 0px 20px 20px;
				//background: white;
				box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.2);
				box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

			}

			&.opened {
				box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.21);
    			img {
    				transform: rotate(180deg);
    			}
    			.question {
					
					//border-bottom: 2px solid #d4d4d4;
    			}
				.answer {
					opacity: 1;
					height: auto;
					padding:36px 18px;
					position: relative;
					&:before {
						width: 40px;
						height: 2px;
						display: inline-block;
						background: #e6346e;
						float: left;
						top: 22px;
						content: "";
						position: absolute;
					}
					@media (max-width: 768px) {
						//margin: 0px 16px;
					    padding: 34px 16px;
					    padding-bottom: 16px;
					    font-size:16px;
					}
					@media (max-width: 768px) {
						//margin: 0px 5px;
					    padding: 34px 10px;
					    padding-bottom: 10px;
					}
				}
			}
		}
	}
}

/* FOOTER */
footer {
    width: 100%;
    height: 55px;
    background: #3f3f3f;
    display: flex;
    justify-content: center;
    color: #999999;
    .lp-content {
    	display: flex;
    	align-items:center;
    	justify-content:space-between;
    	padding:0px 10px;
    	.white-logo {
		    height: 20px;
		    margin-top: -7px;
		    margin-right:20px;
    	}
    }
	@media (max-width: 768px) {
	    height: auto;
	    .copyright {
	    	max-width: 50%;
	    	padding:10px;
	    }
	}
	@media (max-width: 425px) {
		.lp-content {
	    	flex-direction:column;
	    	align-items:flex-start;
	    	.white-logo {
			    height: auto;
			    margin-top: 20px;
				margin-bottom: 0px;
			    margin-right:0px;
	    	}
		    .copyright {
		    	max-width: 100%;
		    	padding:10px 0px;
		    	font-size: 14px;
		    }
		}
	}
}


/*  STARTER  */
.starter-section {
	background-color: #595959;
    .lp-content {
    	display: flex;
    	align-items:center;
    	justify-content:center;
    	a {
    		margin: 30px 0px;
    		i {
    			font-weight: normal;
    			margin-right:20px;
    		}
    	}
    }
	@media (max-width: 1024px) {
	    .lp-content {
	    	a.lp-cta-button {
			    margin: 10px;
			    padding: 0px;
			    height: 60px;
			    font-size: 22px;
	    	}
	    }
	}
	@media (max-width: 620px) {
	    .lp-content {
	    	a.lp-cta-button {
				margin: 10px;
				height: 55px;
				font-size: 16px;
	    	}
	    }
	}
}