.modal-vk-login {
    .modal-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            max-width: 70px;
            margin-bottom: 26px;
        }
        
    }
}
